<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <p>This is the index page: here's some information about me!</p>
    </body>
</html>
