<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Info Page!</title>
  </head>
  <body>
    <p>This is the info page:</p>
    <table>
      <thead>
        <th>Name</th>
        <th>Title</th>
      </thead>
      <tbody>
        <tr>
          <td>Will Hodgson</td>
          <td>Developer</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
