<!DOCTYPE html>
<html>
  <head>
    <title>Hahahaha</title>
  </head>
  <body>
    <h1>I'm</h1>
    <h2>getting</h2>
    <p>smaller</p>
    <p>Blahblahblah hey Info Page This is the info page: </p>
  </body>
</html>
