<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! I am going to learn to code and I will make 6 figures a year. I will not doubt myself. I will succeed!</p>
    </body>
</html>