<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>

  <body>
    <h1>This is the info page:</h1>
    <p>Info is the key to knowing what you want to know. In this case, it's the key to knowing all
    wanted to know about info.</p>

    <h3>INFO IS KNOWLEDGE!</h3>
  </body>
</html>
